*{
    padding: 0;
    margin: 0; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* CABEÇALHO */
 .logo .escoar{
     width: 150px;
     float: left;
     padding-top: 5px;
     margin-left: 2%; 
 }
html{
    scroll-behavior: smooth;
}
html, body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
   }
   body{
       background:   rgb(248, 243, 243);
   }
   /* rgb(248, 94, 107)
   rgb(226, 226, 226
   rgb(131, 240, 158)
   rgb(117, 216, 141)
   rgb(238, 91, 102)
   rgb(248, 94, 107)
   
   
   */
 
nav {
    background: #DA0E38;
    min-height: 110px;
    width: 100%;
    z-index: 1;
    /* border-bottom: 2px solid #7BB12A ; */
    border-top: 20px solid  #7BB12A;
}

label.logo {
    color:  white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
   
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background: #7BB12A;
}
 a:hover {
    background: white;
    transition: .5s;
    color:black;
}

/* FIM DO CABEÇALHO */

/* TITULO */
.titulo{
    margin-top: 20px;
}

/* MEIO DO SITE */
.titulo h1{
    text-align: center;
    color:  #7BB12A;
}
 .conteudo_escoar{
    height: 675px;
    width: 70%;
    margin-left: 3.5%;
   
}
.cima_conteudo{
    /* background: blue; */
    width: 100%;
    margin-top:20px;
    height: 300px;
}
.baixo_conteudo{
    
    width: 100%;
    margin-top:20px;
    height: 60%;
}
.div_foto1{
float: right;
height: 300px;
width: 47%;    
overflow: hidden;
position: relative;
}
.div_foto1 .foto1{ 
position: absolute;
width:100%;
height: 300px;
opacity: 0;
animation-name: animacao;
animation-duration: 10s;
animation-iteration-count: infinite;
}
.div_foto2{
float: left;
height: 300px;
width: 47%;
overflow: hidden;
position: relative;
margin-left: 35px;
}
.div_foto2 .foto2{ 
position: absolute;
width:100%;
height: 300px;
opacity: 0;
animation-name: animacao2;
animation-duration: 10s;
animation-iteration-count: infinite;
}



/* INICIO DA ANIMCAO 1 */
.foto1:nth-child(2){
    animation-delay: 5s;   
}
@keyframes animacao{
25%{
opacity: 1;
transform:scale(1.1,1.1);
}
50%{
opacity: 0;
}
}
/* FIM DA ANIMACAO 1 */


/* INICIO DA ANIMACAO 2 */
.foto2:nth-child(1){
    animation-delay: 5s;   
}
@keyframes animacao2{
25%{
opacity: 1;
transform:scale(1.1,1.1);
}
50%{
opacity: 0;
}
}
/* FIM DA ANIMACAO 2 */



.texto1{
float: left;
width: 47%;
min-height: 200px;
margin-left: 35px;
}
.texto1 p{
font-size: 17px;
}
.texto2{
float: right;
width: 48%;
min-height: 10px;
margin-left: 10px;  

}
.texto2 p{
font-size: 17px;
}

/* BOX DIREITA */
.produtos{
float: right;
width: 20%;
margin-top:15px;


}

.img_produto img{
width: 150px;
padding: 2px;
border-radius: 10%;
height: 100px;
margin-left:35px;
}


/* FIM DO MEIO DO SITE */

/*  DIVISÓRIA  */

.divisoria{
box-shadow:0px 0px 20px 1px #7BB12A;
background:  #DA0E38;
height: 100px;
width: 95%;
margin-left: 35px;
border-radius: 10px;
   
}
.divisoria p{
color: white;
text-align: center;
font-family: sans-serif;
font-size: 20px;
padding-top: 40px;
}
/* FIM DA DIVISÓRIA */

/* CONTATO */
.tudo-contato h1{
   color:  #7BB12A;
}
.tudo-contato{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:30px;
}
.main-contato{
display: flex;
flex-direction: column;
justify-content: space-around;
width: 40%;
min-height: 400px;
background: rgb(223, 30, 68);
border-radius: 10px;
box-shadow:2px 2px 15px  #7BB12A;

}
.main-contato .input_padrao{
display: block;
width: 90%;
padding: 10px;
margin-left: 20px;
background: rgba(255, 253, 253, 0.637);
border: 1px solid #7BB12A;
border-radius: 5px;
box-shadow: 1px 0px 5px  black;
margin-top: 5px;
}
.main-contato .enviar{
margin-top: 5px;
margin-left: 190px;
margin-bottom: 5px;
width: 30%; 
padding: 10px;
border: none;
font-size: 17px;
font-family: sans-serif;
color: white;
background: #7BB12A ;
border: none;
border-radius: 4px;
}
.enviar:hover{
    background: white;
    color: black;
}
.main-contato label{
padding-left: 20px;
font-size: 17px;
color: white;
font-family:sans-serif;
}
.main-contato textarea{
height: 100px;
margin-left: 20px;
}
#titulo_contato{
text-align: center;
/* text-decoration-line: underline; */
margin-top: 30px;
margin-left: 5px;
color: #7BB12A;
}
/* MENSAGEM DE ERRO */
.m-erro{
    color:black;
 }
 .m-erro li{
margin:5px;
font-weight:bold;
background: rgba(241, 241, 241, 0.568);
 /* background: rgba(233, 77, 77, 0.363); */
list-style: none;
padding: 5px;
border-radius: 3px;
}

/* IMAGEM DA ESCOAR CONTATO */
.img_escoar_contato img{
    width: 600px;
    padding-bottom: 120px; 
    filter: brightness(50%);
   
}
/* Frase contato */
.frase_contato{
   flex-direction: row;
}


/* FIM DO CONTATO */


/* RODA PÉ */
.rodape{
min-height: 100px;
width: 100%;
background: #DA0E38;
margin: 0;
padding: 0;
border-bottom: black solid 10px;
margin-top: 100px;
border-top: 10px solid #7BB12A;
}
.rodape h3{
text-align: center;
color: white;
padding-top: 40px;
font-family: sans-serif;
}



/*.menus {
   padding: 15px;
   background: rgb(172, 3, 37);
   border-radius: 5px;
   padding-right: 30px;
 }
 .menus :hover{
     background: white;
     /* padding: 15px; */
     /* border-radius: 5px; */
   
 /* }
.lista ul li a{ 
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: helvetica;
   
}
.lista ul li {
    float: left;
    display: inline;
    padding-right: 50px;
}
.lista{
    float: right;
    padding-top: 45px;
} */

/* .lista li {
    float: right;
    display: inline;
    text-decoration: none;
}


.escoar{
    width: 150px;
    padding-top: 10px;
    padding-left: 10px; 
}  */